In [1]:
# Import pandas for data manipulation
import pandas as pd

In [2]:
# Load the raw industry worksheet and preview the first 20 rows
df = pd.read_excel('../data/Actual/raw/industry.xlsx', sheet_name='Data1', header=0)
df.head(20)

,Unnamed: 0,Job Vacancies ; Mining ;,Job Vacancies ; Manufacturing ;,"Job Vacancies ; Electricity, Gas, Water and Waste Services ;",Job Vacancies ; Construction ;,Job Vacancies ; Wholesale Trade ;,Job Vacancies ; Retail Trade ;,Job Vacancies ; Accommodation and Food Services ;,"Job Vacancies ; Transport, Postal and Warehousing ;",Job Vacancies ; Information Media and Telecommunications ;,...,Standard Error of Job Vacancies ; Financial and Insurance Services ;,"Standard Error of Job Vacancies ; Rental, Hiring and Real Estate Services ;","Standard Error of Job Vacancies ; Professional, Scientific and Technical Services ;",Standard Error of Job Vacancies ; Administrative and Support Services ;,Standard Error of Job Vacancies ; Public Administration and Safety ;,Standard Error of Job Vacancies ; Education and Training ;,Standard Error of Job Vacancies ; Health Care and Social Assistance ;,Standard Error of Job Vacancies ; Arts and Recreation Services ;,Standard Error of Job Vacancies ; Other Services ;,Standard Error of Job Vacancies ; Total All Industries ;
0,Unit,000,000,000,000,000,000,000,000,000,...,000,000,000,000,000,000,000,000,000,000
1,Series Type,Original,Original,Original,Original,Original,Original,Original,Original,Original,...,Original,Original,Original,Original,Original,Original,Original,Original,Original,Original
2,Data Type,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,STOCK,...,Variable,Variable,Variable,Variable,Variable,Variable,Variable,Variable,Variable,Variable
3,Frequency,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,...,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter,Quarter
4,Collection Month,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
5,Series Start,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,...,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00,2009-11-15 00:00:00
6,Series End,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,...,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00,2025-05-15 00:00:00
7,No. Obs,63,63,63,63,63,63,63,63,63,...,63,63,63,63,63,63,63,63,63,63
8,Series ID,A3571809T,A3571805J,A3571797V,A3571817T,A3571819W,A3571815L,A3571787R,A3571791F,A3571803C,...,A3571794L,A3571824R,A3571802A,A3571814K,A3571812F,A3571790C,A3571800W,A3571786L,A3571822K,A3571796T
9,2009-11-15 00:00:00,4.1,9.8,0.6,11.8,9,13.4,18.1,5.9,2.2,...,1.3,1.2,3.2,2.2,0.7,0.7,1.6,0.1,2.2,8
10,2010-02-15 00:00:00,5.2,12.3,0.8,13.4,13.5,11,13.2,5.6,1.8,...,0.9,1.2,4,2.5,0.8,0.7,1.5,0.8,2.7,8.8
11,2010-05-15 00:00:00,6.2,11.2,0.6,13.1,12.4,16.3,7.7,8.4,1.8,...,1.7,0.9,2.5,2.2,0.7,1.4,2.4,0.6,1.7,9
12,2010-08-15 00:00:00,7.1,14,0.8,13.5,9.7,16.1,13.7,6.7,2.1,...,1.8,0.8,2.4,4.3,0.9,0.3,3.3,0.3,1.2,9.5
13,2010-11-15 00:00:00,7.7,12.7,0.9,12,9.6,20.5,17.5,9.5,1.9,...,0.7,1.4,3.4,4.1,0.6,0.5,2.9,1.3,2.3,9
14,2011-02-15 00:00:00,8.1,12.1,1.2,20.1,12.1,9.3,15.3,7.6,2.1,...,1.5,0.8,3.5,3.4,0.7,1.2,2.4,0.7,1.4,8.2
15,2011-05-15 00:00:00,9.5,10.7,1,19.4,12.8,11,11.9,5.5,2.7,...,0.9,1.2,3.3,3.1,1.4,0.1,2.3,0.3,1.3,7.7
16,2011-08-15 00:00:00,9.9,10.4,1.1,23.9,14.6,13,10.3,6.9,2.6,...,0.7,0.7,3.1,3.7,1,0.7,2.2,0.2,1.7,8.6
17,2011-11-15 00:00:00,10.3,11,1.1,13.7,9.8,16.9,18.8,11.2,2.5,...,0.9,0.9,3.3,2.7,0.7,0.7,1.7,0.1,1.7,7.4
18,2012-02-15 00:00:00,9.9,12.1,0.8,16.1,10.8,14.2,15.4,9.1,1.8,...,1.4,0.7,3.9,3.6,0.7,0.3,1.7,0.2,2.7,9.6
19,2012-05-15 00:00:00,9.6,12.2,0.8,20.3,11.2,14,12.7,6.2,2.1,...,1.1,0.6,3.6,2.2,0.4,1.1,1.4,0,2.2,9.1

In [3]:
# Skip the first 9 sheet-rows (metadata) and reset the index
industry_df = df.iloc[9:].reset_index(drop=True)

In [4]:
# Preview to verify the header/data alignment
industry_df.head()

,Unnamed: 0,Job Vacancies ; Mining ;,Job Vacancies ; Manufacturing ;,"Job Vacancies ; Electricity, Gas, Water and Waste Services ;",Job Vacancies ; Construction ;,Job Vacancies ; Wholesale Trade ;,Job Vacancies ; Retail Trade ;,Job Vacancies ; Accommodation and Food Services ;,"Job Vacancies ; Transport, Postal and Warehousing ;",Job Vacancies ; Information Media and Telecommunications ;,...,Standard Error of Job Vacancies ; Financial and Insurance Services ;,"Standard Error of Job Vacancies ; Rental, Hiring and Real Estate Services ;","Standard Error of Job Vacancies ; Professional, Scientific and Technical Services ;",Standard Error of Job Vacancies ; Administrative and Support Services ;,Standard Error of Job Vacancies ; Public Administration and Safety ;,Standard Error of Job Vacancies ; Education and Training ;,Standard Error of Job Vacancies ; Health Care and Social Assistance ;,Standard Error of Job Vacancies ; Arts and Recreation Services ;,Standard Error of Job Vacancies ; Other Services ;,Standard Error of Job Vacancies ; Total All Industries ;
0,2009-11-15 00:00:00,4.1,9.8,0.6,11.8,9,13.4,18.1,5.9,2.2,...,1.3,1.2,3.2,2.2,0.7,0.7,1.6,0.1,2.2,8
1,2010-02-15 00:00:00,5.2,12.3,0.8,13.4,13.5,11,13.2,5.6,1.8,...,0.9,1.2,4,2.5,0.8,0.7,1.5,0.8,2.7,8.8
2,2010-05-15 00:00:00,6.2,11.2,0.6,13.1,12.4,16.3,7.7,8.4,1.8,...,1.7,0.9,2.5,2.2,0.7,1.4,2.4,0.6,1.7,9
3,2010-08-15 00:00:00,7.1,14,0.8,13.5,9.7,16.1,13.7,6.7,2.1,...,1.8,0.8,2.4,4.3,0.9,0.3,3.3,0.3,1.2,9.5
4,2010-11-15 00:00:00,7.7,12.7,0.9,12,9.6,20.5,17.5,9.5,1.9,...,0.7,1.4,3.4,4.1,0.6,0.5,2.9,1.3,2.3,9

In [5]:
# Rename the first column to a canonical time field "Date"
time_col = industry_df.columns[0]
industry_df = industry_df.rename(columns={time_col: "Date"})

In [6]:
# Sanity check after renaming
industry_df.head()

,Date,Job Vacancies ; Mining ;,Job Vacancies ; Manufacturing ;,"Job Vacancies ; Electricity, Gas, Water and Waste Services ;",Job Vacancies ; Construction ;,Job Vacancies ; Wholesale Trade ;,Job Vacancies ; Retail Trade ;,Job Vacancies ; Accommodation and Food Services ;,"Job Vacancies ; Transport, Postal and Warehousing ;",Job Vacancies ; Information Media and Telecommunications ;,...,Standard Error of Job Vacancies ; Financial and Insurance Services ;,"Standard Error of Job Vacancies ; Rental, Hiring and Real Estate Services ;","Standard Error of Job Vacancies ; Professional, Scientific and Technical Services ;",Standard Error of Job Vacancies ; Administrative and Support Services ;,Standard Error of Job Vacancies ; Public Administration and Safety ;,Standard Error of Job Vacancies ; Education and Training ;,Standard Error of Job Vacancies ; Health Care and Social Assistance ;,Standard Error of Job Vacancies ; Arts and Recreation Services ;,Standard Error of Job Vacancies ; Other Services ;,Standard Error of Job Vacancies ; Total All Industries ;
0,2009-11-15 00:00:00,4.1,9.8,0.6,11.8,9,13.4,18.1,5.9,2.2,...,1.3,1.2,3.2,2.2,0.7,0.7,1.6,0.1,2.2,8
1,2010-02-15 00:00:00,5.2,12.3,0.8,13.4,13.5,11,13.2,5.6,1.8,...,0.9,1.2,4,2.5,0.8,0.7,1.5,0.8,2.7,8.8
2,2010-05-15 00:00:00,6.2,11.2,0.6,13.1,12.4,16.3,7.7,8.4,1.8,...,1.7,0.9,2.5,2.2,0.7,1.4,2.4,0.6,1.7,9
3,2010-08-15 00:00:00,7.1,14,0.8,13.5,9.7,16.1,13.7,6.7,2.1,...,1.8,0.8,2.4,4.3,0.9,0.3,3.3,0.3,1.2,9.5
4,2010-11-15 00:00:00,7.7,12.7,0.9,12,9.6,20.5,17.5,9.5,1.9,...,0.7,1.4,3.4,4.1,0.6,0.5,2.9,1.3,2.3,9

In [7]:
# Inspect data types and non-null counts before parsing Date
industry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 39 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   Date                                                                                  63 non-null     object
 1   Job Vacancies ;  Mining ;                                                             63 non-null     object
 2   Job Vacancies ;  Manufacturing ;                                                      63 non-null     object
 3   Job Vacancies ;  Electricity, Gas, Water and Waste Services ;                         63 non-null     object
 4   Job Vacancies ;  Construction ;                                                       63 non-null     object
 5   Job Vacancies ;  Wholesale Trade ;                                                    63 non-null     object
 6   Job Vacancies ;  Retail Trade ;                                                       63 non-null     object
 7   Job Vacancies ;  Accommodation and Food Services ;                                    63 non-null     object
 8   Job Vacancies ;  Transport, Postal and Warehousing ;                                  63 non-null     object
 9   Job Vacancies ;  Information Media and Telecommunications ;                           63 non-null     object
 10  Job Vacancies ;  Financial and Insurance Services ;                                   63 non-null     object
 11  Job Vacancies ;  Rental, Hiring and Real Estate Services ;                            63 non-null     object
 12  Job Vacancies ;  Professional, Scientific and Technical Services ;                    63 non-null     object
 13  Job Vacancies ;  Administrative and Support Services ;                                63 non-null     object
 14  Job Vacancies ;  Public Administration and Safety ;                                   63 non-null     object
 15  Job Vacancies ;  Education and Training ;                                             63 non-null     object
 16  Job Vacancies ;  Health Care and Social Assistance ;                                  63 non-null     object
 17  Job Vacancies ;  Arts and Recreation Services ;                                       63 non-null     object
 18  Job Vacancies ;  Other Services ;                                                     63 non-null     object
 19  Job Vacancies ;  Total All Industries ;                                               63 non-null     object
 20  Standard Error of Job Vacancies ;  Mining ;                                           63 non-null     object
 21  Standard Error of Job Vacancies ;  Manufacturing ;                                    63 non-null     object
 22  Standard Error of Job Vacancies ;  Electricity, Gas, Water and Waste Services ;       63 non-null     object
 23  Standard Error of Job Vacancies ;  Construction ;                                     63 non-null     object
 24  Standard Error of Job Vacancies ;  Wholesale Trade ;                                  63 non-null     object
 25  Standard Error of Job Vacancies ;  Retail Trade ;                                     63 non-null     object
 26  Standard Error of Job Vacancies ;  Accommodation and Food Services ;                  63 non-null     object
 27  Standard Error of Job Vacancies ;  Transport, Postal and Warehousing ;                63 non-null     object
 28  Standard Error of Job Vacancies ;  Information Media and Telecommunications ;         63 non-null     object
 29  Standard Error of Job Vacancies ;  Financial and Insurance Services ;                 63 non-null     object
 30  Standard Error of Job Vacancies ;  Rental, Hiring and Real Estate Services ;          63 non-null     object
 31  Standard Error of Job Vacancies ;  Professional, Scientific and Technical Services ;  63 non-null     object
 32  Standard Error of Job Vacancies ;  Administrative and Support Services ;              63 non-null     object
 33  Standard Error of Job Vacancies ;  Public Administration and Safety ;                 63 non-null     object
 34  Standard Error of Job Vacancies ;  Education and Training ;                           63 non-null     object
 35  Standard Error of Job Vacancies ;  Health Care and Social Assistance ;                63 non-null     object
 36  Standard Error of Job Vacancies ;  Arts and Recreation Services ;                     63 non-null     object
 37  Standard Error of Job Vacancies ;  Other Services ;                                   63 non-null     object
 38  Standard Error of Job Vacancies ;  Total All Industries ;                             63 non-null     object
dtypes: object(39)
memory usage: 19.3+ KB

In [8]:
# Parse the Date column to datetime and re-check schema
industry_df["Date"] = pd.to_datetime(industry_df["Date"], errors="coerce")
industry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 39 columns):
 #   Column                                                                                Non-Null Count  Dtype
---  ------                                                                                --------------  -----
 0   Date                                                                                  63 non-null     datetime64[ns]
 1   Job Vacancies ;  Mining ;                                                             63 non-null     object
 2   Job Vacancies ;  Manufacturing ;                                                      63 non-null     object
 3   Job Vacancies ;  Electricity, Gas, Water and Waste Services ;                         63 non-null     object
 4   Job Vacancies ;  Construction ;                                                       63 non-null     object
 5   Job Vacancies ;  Wholesale Trade ;                                                    63 non-null     object
 6   Job Vacancies ;  Retail Trade ;                                                       63 non-null     object
 7   Job Vacancies ;  Accommodation and Food Services ;                                    63 non-null     object
 8   Job Vacancies ;  Transport, Postal and Warehousing ;                                  63 non-null     object
 9   Job Vacancies ;  Information Media and Telecommunications ;                           63 non-null     object
 10  Job Vacancies ;  Financial and Insurance Services ;                                   63 non-null     object
 11  Job Vacancies ;  Rental, Hiring and Real Estate Services ;                            63 non-null     object
 12  Job Vacancies ;  Professional, Scientific and Technical Services ;                    63 non-null     object
 13  Job Vacancies ;  Administrative and Support Services ;                                63 non-null     object
 14  Job Vacancies ;  Public Administration and Safety ;                                   63 non-null     object
 15  Job Vacancies ;  Education and Training ;                                             63 non-null     object
 16  Job Vacancies ;  Health Care and Social Assistance ;                                  63 non-null     object
 17  Job Vacancies ;  Arts and Recreation Services ;                                       63 non-null     object
 18  Job Vacancies ;  Other Services ;                                                     63 non-null     object
 19  Job Vacancies ;  Total All Industries ;                                               63 non-null     object
 20  Standard Error of Job Vacancies ;  Mining ;                                           63 non-null     object
 21  Standard Error of Job Vacancies ;  Manufacturing ;                                    63 non-null     object
 22  Standard Error of Job Vacancies ;  Electricity, Gas, Water and Waste Services ;       63 non-null     object
 23  Standard Error of Job Vacancies ;  Construction ;                                     63 non-null     object
 24  Standard Error of Job Vacancies ;  Wholesale Trade ;                                  63 non-null     object
 25  Standard Error of Job Vacancies ;  Retail Trade ;                                     63 non-null     object
 26  Standard Error of Job Vacancies ;  Accommodation and Food Services ;                  63 non-null     object
 27  Standard Error of Job Vacancies ;  Transport, Postal and Warehousing ;                63 non-null     object
 28  Standard Error of Job Vacancies ;  Information Media and Telecommunications ;         63 non-null     object
 29  Standard Error of Job Vacancies ;  Financial and Insurance Services ;                 63 non-null     object
 30  Standard Error of Job Vacancies ;  Rental, Hiring and Real Estate Services ;          63 non-null     object
 31  Standard Error of Job Vacancies ;  Professional, Scientific and Technical Services ;  63 non-null     object
 32  Standard Error of Job Vacancies ;  Administrative and Support Services ;              63 non-null     object
 33  Standard Error of Job Vacancies ;  Public Administration and Safety ;                 63 non-null     object
 34  Standard Error of Job Vacancies ;  Education and Training ;                           63 non-null     object
 35  Standard Error of Job Vacancies ;  Health Care and Social Assistance ;                63 non-null     object
 36  Standard Error of Job Vacancies ;  Arts and Recreation Services ;                     63 non-null     object
 37  Standard Error of Job Vacancies ;  Other Services ;                                   63 non-null     object
 38  Standard Error of Job Vacancies ;  Total All Industries ;                             63 non-null     object
dtypes: datetime64[ns](1), object(38)
memory usage: 19.3+ KB

In [9]:
# Helper to normalize column names into clean labels
#  - Standard errors -> prefix with "SE_" and keep industry name
#  - Job Vacancies -> just the industry label
import re
def clean_col(name: str):
    name = str(name).strip()
    if name.startswith("Standard Error of Job Vacancies"):
        # extract industry
        m = re.search(r"Standard Error of Job Vacancies\s*;\s*(.*?)\s*;", name)
        industry = m.group(1) if m else name
        return f"SE_{industry}"
    if name.startswith("Job Vacancies"):
        m = re.search(r"Job Vacancies\s*;\s*(.*?)\s*;", name)
        industry = m.group(1) if m else name
        return industry
    return name

In [10]:
# Apply the column name cleaner
cleaned_cols = {c: clean_col(c) for c in industry_df.columns}
industry_df = industry_df.rename(columns=cleaned_cols)

In [11]:
# Preview cleaned labels
industry_df.head()

,Date,Mining,Manufacturing,"Electricity, Gas, Water and Waste Services",Construction,Wholesale Trade,Retail Trade,Accommodation and Food Services,"Transport, Postal and Warehousing",Information Media and Telecommunications,...,SE_Financial and Insurance Services,"SE_Rental, Hiring and Real Estate Services","SE_Professional, Scientific and Technical Services",SE_Administrative and Support Services,SE_Public Administration and Safety,SE_Education and Training,SE_Health Care and Social Assistance,SE_Arts and Recreation Services,SE_Other Services,SE_Total All Industries
0,2009-11-15,4.1,9.8,0.6,11.8,9,13.4,18.1,5.9,2.2,...,1.3,1.2,3.2,2.2,0.7,0.7,1.6,0.1,2.2,8
1,2010-02-15,5.2,12.3,0.8,13.4,13.5,11,13.2,5.6,1.8,...,0.9,1.2,4,2.5,0.8,0.7,1.5,0.8,2.7,8.8
2,2010-05-15,6.2,11.2,0.6,13.1,12.4,16.3,7.7,8.4,1.8,...,1.7,0.9,2.5,2.2,0.7,1.4,2.4,0.6,1.7,9
3,2010-08-15,7.1,14,0.8,13.5,9.7,16.1,13.7,6.7,2.1,...,1.8,0.8,2.4,4.3,0.9,0.3,3.3,0.3,1.2,9.5
4,2010-11-15,7.7,12.7,0.9,12,9.6,20.5,17.5,9.5,1.9,...,0.7,1.4,3.4,4.1,0.6,0.5,2.9,1.3,2.3,9

In [12]:
# Confirm schema after renaming
industry_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 39 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                63 non-null     datetime64[ns]
 1   Mining                                              63 non-null     object
 2   Manufacturing                                       63 non-null     object
 3   Electricity, Gas, Water and Waste Services          63 non-null     object
 4   Construction                                        63 non-null     object
 5   Wholesale Trade                                     63 non-null     object
 6   Retail Trade                                        63 non-null     object
 7   Accommodation and Food Services                     63 non-null     object
 8   Transport, Postal and Warehousing                   63 non-null     object
 9   Information Media and Telecommunications            63 non-null     object
 10  Financial and Insurance Services                    63 non-null     object
 11  Rental, Hiring and Real Estate Services             63 non-null     object
 12  Professional, Scientific and Technical Services     63 non-null     object
 13  Administrative and Support Services                 63 non-null     object
 14  Public Administration and Safety                    63 non-null     object
 15  Education and Training                              63 non-null     object
 16  Health Care and Social Assistance                   63 non-null     object
 17  Arts and Recreation Services                        63 non-null     object
 18  Other Services                                      63 non-null     object
 19  Total All Industries                                63 non-null     object
 20  SE_Mining                                           63 non-null     object
 21  SE_Manufacturing                                    63 non-null     object
 22  SE_Electricity, Gas, Water and Waste Services       63 non-null     object
 23  SE_Construction                                     63 non-null     object
 24  SE_Wholesale Trade                                  63 non-null     object
 25  SE_Retail Trade                                     63 non-null     object
 26  SE_Accommodation and Food Services                  63 non-null     object
 27  SE_Transport, Postal and Warehousing                63 non-null     object
 28  SE_Information Media and Telecommunications         63 non-null     object
 29  SE_Financial and Insurance Services                 63 non-null     object
 30  SE_Rental, Hiring and Real Estate Services          63 non-null     object
 31  SE_Professional, Scientific and Technical Services  63 non-null     object
 32  SE_Administrative and Support Services              63 non-null     object
 33  SE_Public Administration and Safety                 63 non-null     object
 34  SE_Education and Training                           63 non-null     object
 35  SE_Health Care and Social Assistance                63 non-null     object
 36  SE_Arts and Recreation Services                     63 non-null     object
 37  SE_Other Services                                   63 non-null     object
 38  SE_Total All Industries                             63 non-null     object
dtypes: datetime64[ns](1), object(38)
memory usage: 19.3+ KB

In [13]:
# Split into two DataFrames:
#  - vac_df: vacancy values (non-SE columns)
#  - se_df: standard error columns with Date
se_cols = [c for c in industry_df.columns if c.startswith("SE_")]
vac_cols =  [c for c in industry_df.columns if c not in se_cols and c != "Series ID" and c != "Unit"]
vac_df = industry_df[vac_cols].copy()
se_df = pd.concat([industry_df[["Date"]], industry_df[se_cols]], axis=1)

In [14]:
# Quick count check: number of vacancy vs SE columns
len(vac_cols), len(se_cols)

(20, 19)

In [15]:
# Convert object columns to numeric for both frames (except Date)
for frame in (vac_df, se_df):
    num_cols = frame.columns.drop("Date")
    frame[num_cols] = frame[num_cols].apply(pd.to_numeric, errors="coerce")

In [16]:
# Save cleaned wide-form datasets to disk
vac_path = "../data/Actual/preprocessed/job_vacancies_clean.csv"
se_path = "../data/Actual/preprocessed/job_vacancies_standard_error.csv"
vac_df.to_csv(vac_path, index=False)
se_df.to_csv(se_path, index=False)

In [17]:
# Convert vacancies to a tidy long-form table for plotting/analysis
vac_long = vac_df.melt(id_vars="Date", var_name="Industry", value_name="Vacancies_thousands")
# Persist long-form CSV
vac_long_path = "../data/Actual/preprocessed/job_vacancies_clean_long.csv"
vac_long.to_csv(vac_long_path, index=False)

In [18]:
# Reload saved files to verify outputs wrote correctly
data1 = pd.read_csv(vac_path)
data2 = pd.read_csv(se_path)
data3 = pd.read_csv(vac_long_path)

In [19]:
# Inspect the wide-form vacancies (values)
data1.head()

,Date,Mining,Manufacturing,"Electricity, Gas, Water and Waste Services",Construction,Wholesale Trade,Retail Trade,Accommodation and Food Services,"Transport, Postal and Warehousing",Information Media and Telecommunications,Financial and Insurance Services,"Rental, Hiring and Real Estate Services","Professional, Scientific and Technical Services",Administrative and Support Services,Public Administration and Safety,Education and Training,Health Care and Social Assistance,Arts and Recreation Services,Other Services,Total All Industries
0,2009-11-15,4.1,9.8,0.6,11.8,9.0,13.4,18.1,5.9,2.2,10.2,3.6,14.8,14.6,9.1,3.4,12.9,1.3,6.1,150.8
1,2010-02-15,5.2,12.3,0.8,13.4,13.5,11.0,13.2,5.6,1.8,8.6,5.3,19.1,20.2,8.9,4.0,12.0,2.8,11.5,169.0
2,2010-05-15,6.2,11.2,0.6,13.1,12.4,16.3,7.7,8.4,1.8,11.5,3.2,14.2,23.2,8.8,4.2,14.6,1.9,5.4,164.7
3,2010-08-15,7.1,14.0,0.8,13.5,9.7,16.1,13.7,6.7,2.1,11.9,3.2,15.8,27.7,9.5,3.2,19.7,2.1,4.7,181.4
4,2010-11-15,7.7,12.7,0.9,12.0,9.6,20.5,17.5,9.5,1.9,8.1,4.5,18.6,31.8,8.8,3.7,16.7,3.2,5.9,193.7

In [20]:
# Inspect the wide-form standard errors
data2.head()

,Date,SE_Mining,SE_Manufacturing,"SE_Electricity, Gas, Water and Waste Services",SE_Construction,SE_Wholesale Trade,SE_Retail Trade,SE_Accommodation and Food Services,"SE_Transport, Postal and Warehousing",SE_Information Media and Telecommunications,SE_Financial and Insurance Services,"SE_Rental, Hiring and Real Estate Services","SE_Professional, Scientific and Technical Services",SE_Administrative and Support Services,SE_Public Administration and Safety,SE_Education and Training,SE_Health Care and Social Assistance,SE_Arts and Recreation Services,SE_Other Services,SE_Total All Industries
0,2009-11-15,0.1,1.6,0.1,2.5,2.2,2.6,4.0,1.6,0.0,1.3,1.2,3.2,2.2,0.7,0.7,1.6,0.1,2.2,8.0
1,2010-02-15,0.3,2.8,0.1,2.7,2.7,1.4,2.6,1.1,0.0,0.9,1.2,4.0,2.5,0.8,0.7,1.5,0.8,2.7,8.8
2,2010-05-15,0.2,1.6,0.0,2.6,3.0,3.0,1.6,2.4,0.1,1.7,0.9,2.5,2.2,0.7,1.4,2.4,0.6,1.7,9.0
3,2010-08-15,0.7,2.3,0.0,2.6,2.5,2.9,2.8,3.2,0.0,1.8,0.8,2.4,4.3,0.9,0.3,3.3,0.3,1.2,9.5
4,2010-11-15,0.4,2.0,0.0,1.9,1.9,3.3,3.0,3.1,0.0,0.7,1.4,3.4,4.1,0.6,0.5,2.9,1.3,2.3,9.0

In [21]:
# Inspect the long-form vacancies
data3.head()

         Date Industry  Vacancies_thousands
0  2009-11-15   Mining                  4.1
1  2010-02-15   Mining                  5.2
2  2010-05-15   Mining                  6.2
3  2010-08-15   Mining                  7.1
4  2010-11-15   Mining                  7.7

In [22]:
# Validate schema of saved wide-form vacancies
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 20 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Date                                             63 non-null     object
 1   Mining                                           63 non-null     float64
 2   Manufacturing                                    63 non-null     float64
 3   Electricity, Gas, Water and Waste Services       63 non-null     float64
 4   Construction                                     63 non-null     float64
 5   Wholesale Trade                                  63 non-null     float64
 6   Retail Trade                                     63 non-null     float64
 7   Accommodation and Food Services                  63 non-null     float64
 8   Transport, Postal and Warehousing                63 non-null     float64
 9   Information Media and Telecommunications         63 non-null     float64
 10  Financial and Insurance Services                 63 non-null     float64
 11  Rental, Hiring and Real Estate Services          63 non-null     float64
 12  Professional, Scientific and Technical Services  63 non-null     float64
 13  Administrative and Support Services              63 non-null     float64
 14  Public Administration and Safety                 63 non-null     float64
 15  Education and Training                           63 non-null     float64
 16  Health Care and Social Assistance                63 non-null     float64
 17  Arts and Recreation Services                     63 non-null     float64
 18  Other Services                                   63 non-null     float64
 19  Total All Industries                             63 non-null     float64
dtypes: float64(19), object(1)
memory usage: 10.0+ KB
None

In [23]:
# Validate schema of saved wide-form standard errors
print(data2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 20 columns):
 #   Column                                              Non-Null Count  Dtype
---  ------                                              --------------  -----
 0   Date                                                63 non-null     object
 1   SE_Mining                                           63 non-null     float64
 2   SE_Manufacturing                                    63 non-null     float64
 3   SE_Electricity, Gas, Water and Waste Services       63 non-null     float64
 4   SE_Construction                                     63 non-null     float64
 5   SE_Wholesale Trade                                  63 non-null     float64
 6   SE_Retail Trade                                     63 non-null     float64
 7   SE_Accommodation and Food Services                  63 non-null     float64
 8   SE_Transport, Postal and Warehousing                63 non-null     float64
 9   SE_Information Media and Telecommunications         63 non-null     float64
 10  SE_Financial and Insurance Services                 63 non-null     float64
 11  SE_Rental, Hiring and Real Estate Services          63 non-null     float64
 12  SE_Professional, Scientific and Technical Services  63 non-null     float64
 13  SE_Administrative and Support Services              63 non-null     float64
 14  SE_Public Administration and Safety                 63 non-null     float64
 15  SE_Education and Training                           63 non-null     float64
 16  SE_Health Care and Social Assistance                63 non-null     float64
 17  SE_Arts and Recreation Services                     63 non-null     float64
 18  SE_Other Services                                   63 non-null     float64
 19  SE_Total All Industries                             63 non-null     float64
dtypes: float64(19), object(1)
memory usage: 10.0+ KB
None

In [24]:
# Validate schema of saved long-form vacancies
print(data3.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1197 entries, 0 to 1196
Data columns (total 3 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 1197 non-null   object
 1   Industry             1197 non-null   object
 2   Vacancies_thousands  1197 non-null   float64
dtypes: float64(1), object(2)
memory usage: 28.2+ KB
None